# 00 AI 수학 by 파이썬

미적분, 통계, 선형대수학 등
파이썬 구현 방법은
익히 다 알지만,
정리해 보는 느낌으로
이어나가 보자.

 iterable한 타입 - list, dict, set, str, bytes, tuple, range

In [18]:
dict([('a',123), ('b', 124), ('c', 125)])

{'a': 123, 'b': 124, 'c': 125}

In [20]:
dict(A = 1, B = 2)

{'A': 1, 'B': 2}

In [21]:
a = ['john', 'johnson', 'johnsons']

In [35]:
b = "..".join(a)
b

'john..johnson..johnsons'

In [34]:
c = b.split("..")
c

['john', 'johnson', 'johnsons']

In [43]:
set1 = set("qwerty")

In [38]:
bool("a")

True

In [39]:
bool("")

False

In [41]:
ord('z')

122

In [42]:
chr(12415)

'み'

In [47]:
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10][0:10:2]

[0, 2, 4, 6, 8]

In [50]:
[0, 1, 2, 3, 4, 5][:5:]

[0, 1, 2, 3, 4]

In [51]:
[0, 1, 2, 3, 4, 5][::]

[0, 1, 2, 3, 4, 5]

In [52]:
for i in range(1, 6):
 print(i)

1
2
3
4
5

In [58]:
import numpy as np
x = np.array([[1, 2],
              [3, 4]])
y = np.array([[5, 6],
              [7, 8]])
x@y # 행렬 곱
# x 행렬의 열 개수와 y 행렬의 행 개수는 일치해야.
# 1*5 + 2*7 = 19
# 1*6 + 2*8 = 22
# 3*5 + 4*7 = 43
# 3*6 + 4*8 =50

array([[19, 22],
       [43, 50]])

In [59]:
x*y

array([[ 5, 12],
       [21, 32]])

In [72]:
np.ceil(np.pi)

4.0

In [64]:
np.sin(60)

-0.3048106211022167

In [73]:
name = "Ga na da"
for i, j in enumerate(name):
    print(i)

print("="*10)
    
for i, j in enumerate(name):
    print(j)

print("="*10)
    
for i in enumerate(name):
    print(i)
    
print("="*10)

for index, value in enumerate(name):
    print(index, value)

# 인덱스 값을 포함하는 enumerate 객체

0
1
2
3
4
5
6
7
==========
G
a

n
a

d
a
==========
(0, 'G')
(1, 'a')
(2, ' ')
(3, 'n')
(4, 'a')
(5, ' ')
(6, 'd')
(7, 'a')
==========
0 G
1 a
2
3 n
4 a
5
6 d
7 a

In [87]:
zip1 = [i for i in zip((1, 2, 3), (4, 5, 6, 7), (8, 9, 10))]

In [88]:
for i in zip((1, 2, 3, 11, 22, 33), (4, 5, 6, 7, 44, 55, 66, 77), (8, 9, 88, 99, 888)):
    print(i)

(1, 4, 8)
(2, 5, 9)
(3, 6, 88)
(11, 7, 99)
(22, 44, 888)

In [89]:
zip1.extend("deep")
zip1

[(1, 4, 8), (2, 5, 9), (3, 6, 10), 'd', 'e', 'e', 'p']

In [97]:
dic1 = {"s":1, "d":2, "e":3}
dic1["f"] = 3
dic1.update({"z":4})
dic1.update({"d":33333})
dic1["e"] = 7777777777
dic1

{'s': 1, 'd': 33333, 'e': 7777777777, 'f': 3, 'z': 4}

In [99]:
set1 = {'a', 1, 'b'}
set1.add(2)
set1

{1, 2, 'a', 'b'}

In [100]:
set1.update({1, 2, 3})
set1

{1, 2, 3, 'a', 'b'}

In [101]:
set2 = set1

In [102]:
set2.add(121415)

In [103]:
set1

{1, 121415, 2, 3, 'a', 'b'}

In [104]:
set2

{1, 121415, 2, 3, 'a', 'b'}

In [105]:
set3 = set1.copy()
set3.add(777777)
set3

{1, 121415, 2, 3, 777777, 'a', 'b'}

In [106]:
set1

{1, 121415, 2, 3, 'a', 'b'}

In [107]:
def add(x, y):
    """
    더하기
    """
    return x+y
add(1, 5)

6

In [108]:
chr(9)

'\t'

In [111]:
aaa = "f", chr(10),"d"

In [121]:
print(aaa)
print("f", "\n", "d")
print("a\rb")
print("a\fb\nc")
print("a\x0bb\nc")
print("ab\rc")

('f', '\n', 'd')
f
 d
b
ab
c
ab
c
c

In [126]:
print('123'.isalnum(), 'abc'.isalnum(), '!!!'.isalnum())

True True False

In [129]:
name = "\ta\nzzzz\n"
print(name.strip())

a
zzzz

In [130]:
"ABCabc".swapcase()

'abcABC'